.head{
    background-color: rgb(214, 221, 230);
}
.h1{
    color: rgb(52, 49, 49);
}.h4{
    background-color: rgb(250, 227, 17);
    width: 30%;
    height: 20px;
}
.card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    background: white;
    width: 30%;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
   }
   .input{
    width: 70%;
    background-color: rgb(214, 221, 230);
    height: 30px;
    position: relative;
    top: 20px;
   }
  
   .input2{
    width: 70%;
    background-color: rgb(214, 221, 230);
    height: 30px;
    position: relative;
    top: 40px;
   }
  
   .input3{
    width: 40%;
    background-color: rgb(214, 221, 230);
    position: relative;
    top: 60px;
    width: 50%;
    height: 20px;
    right: 115px;
   }
   .btn1{
    width: 20%;
    background-color: rgb(23, 23, 164);
    height: 30px;
    position: relative;
    top: 40px;
    color: aliceblue;
    left:230px;
   }
   .or{
    width: 20%;
    height: 30px;
    position: relative;
    top: 40px;
    color: rgb(57, 42, 42);
     left: 35%;
     }
   .btn2{
    width: 70%;
    background-color: rgba(34, 50, 228, 0.916);
    height: 30px;
    position: relative;
    top: 40px;
    color: aliceblue;
   }
   .admin{
    width: 40%;
    position: relative;
    top: 40px;
    width: 40%;
    height: 20px;
    left: 95px;
    color: rgb(81, 81, 222);
   }
   .sign{
    padding: 20px;
   }
   .foot{
    background-color: rgb(23, 23, 164);
    color: aliceblue;
   }